.appBar {
    background-color: var(--colour-second) !important;
    min-height: 100px;
    justify-content: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.spacer {
    flex-grow: 1;
}

.logo-navbar {
    padding: .7rem;
    display: flex;
    align-items: center;
}

.logo-navbar p {
    color: var(--colour-first);
    font-size: 1.2rem;
    margin-left: 1rem;
}

.logo-navbar img {
    width: 3.2rem;
}

.navLinksDesktop {
    display: flex;
    align-items: center;
}

.navLinksDesktop a {
    color: var(--colour-first);
    text-decoration: none;
    padding: 1rem;
    transition: 0.4s;
    font-size: max(1rem, calc(.5rem + .5vw + .8vh));
}

.navLinksDesktop h4 {
    color: var(--colour-first);
    font-size: 1rem;
}

.navLinksDesktop a:hover {
    opacity: 0.75;
}

.MuiDrawer-paper {
    background-color: var(--colour-second) !important;
}

.MuiDrawer-paper a {
    color: var(--colour-first) !important;
}

.burger {
    color: var(--colour-first) !important;
    display: none !important;
}

@media (max-width: 740px) {
    .navLinksDesktop {
        display: none;
    }

    .burger {
        display: block !important;
    }
}