.navLinksDesktop {
    display: flex;
    align-items: center;
}

.navLinksDesktop a {
    text-decoration: none;
    padding: 1rem;
    transition: 0.4s;
    font-size: max(1rem, calc(.5rem + .5vw + .8vh));
}

.navLinksDesktop a:hover {
    opacity: 0.75;
}