.lista-pagos,
.crear-pago-form{    
    margin-top: 4rem;
}
.lista-pagos{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.lista-pagos h2{
    margin-bottom: 2rem;
    text-align: center;
}

.crear-pago-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}
.Boton-Pago{
    background-color: bisque;
    height: 2rem;
    border-radius: .25rem;
}
.Titulo h2{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: green;
    text-align: center;
}

.crear-pago-form input{
    height: 2rem;
    padding: .25rem;
}

.Eliminar-Boton{
    color: red;
    font-weight: bolder;
}

.Filtro-Pagos{
    display: flex;
    justify-content: space-evenly;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

.Filtro-Pagos input{
    min-width: 340px;
}