.Titulo {
    text-align: center;
    padding: 2rem;
    background-color: #f0f0f0;
}

.Titular {
    font-size: 2rem;
    font-weight: bold;
}

.UserList {
    margin: 2rem auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
}
.UserList h2 {
    font-size: 1.8rem;
}

.UserList ul li {
    height: 2.5rem;
    color: darkblue;
    font-weight: bold;
}